body {
	font-family: 'rasmusregular', serif;
	font-size: 15px;
	font-weight: normal;
	line-height: 1;
	letter-spacing: 0.015em;
	color: #046A38;
	background: #FEFCF6;
}

.navigation {
	font-family: 'neutra-2-text', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
}

h2 {
	font-family: 'antonioregular';
	text-transform: uppercase;
	font-weight: normal;
	font-size: 28px;
	line-height: 1;
	letter-spacing: 1px;
	margin-bottom: 28px;
}

h3 {
	font-family: 'antonioregular';
	text-transform: uppercase;
	font-weight: normal;
	font-size: 15px;
	line-height: 1;
	letter-spacing: 1px;
	margin-bottom: 28px;
}

.menulinks {
	font-family: 'antonioregular';
	text-transform: uppercase;
	font-weight: normal;
	font-size: 20px;
	line-height: 1;
	letter-spacing: 1px;
	margin-bottom: 28px;
}