@import url('https://fonts.googleapis.com/css?family=Oswald:500|Scope+One');

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

html {}

body {
	background-color: #blue;
	font-size: 16px;
	position: relative;
}

.wrapper {
	background-color: #fff;
/*	border: 1px black solid;
	padding: 5px;*/
}

header {
	background-color: #blue;
/*	border: 1px black solid;*/
	padding: 5px;
	font-color: #fff;
}

nav {
	background-color: #blue;
	padding: 20px;
	margin:auto;
	text-align: center;
}

nav a:link {
	font-family: 'oswald', sans-serif;
	color:#fff;
	padding: 0 32px;
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0.06em;
	cursor: pointer;
	text-decoration: none;
}

nav a:visited {
	color: #orange;
}

nav a:hover {
	color: orange;
	text-decoration: underline;
}

section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}

aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}

img {
	width: 100%
}

h1 {
	font-family: 'oswald', sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 1.5em;
	line-height: 1.2;
	margin-bottom: 1em;
	letter-spacing: 0.06em;
}

h2 {
	font-family: 'oswald', sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	font-size: .8em;
	line-height: 1.2;
	margin-bottom: 1em;
	letter-spacing: 0.06em;
}

h3 {
	font-family: helvetica neue LT W01_55, sans-serif;
	font-size: .8em;
	font-style: italic;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#two_column_index {
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'oswald', sans-serif;
	color: #15298e;
	letter-spacing: .06em;
}

#left_index {
	background-color: #fff;
	border: 1px black solid;
	float: left;
	width: 50%;
/*	text-align: center;
	text-transform: uppercase;
	font-family: 'oswald', sans-serif;
	color: #15298e;
	letter-spacing: .06em;*/
}

#right_index {
	background-color: #E55B88;
	border: 1px black solid;
	float: right;
	width: 50%;
}

#two_column_about {
	background-color: #lightpink;
	border: 1px black solid;
	padding: 20px;
}

#left_about {
	border: 1px black solid;
	float: left;
	width: 50%;
	background-color: #fcb3a2;
	font-family: helvetica neue LT W01_55, sans-serif;
	font-weight: normal;
	font-size: 20px;
	color: #fff;
}

#right_about {
	background-color: #E55B88;
	border: 1px black solid;
	float: right;
	width: 50%;
}

#left_menu {
	border: 1px black solid;
	float: left;
	width: 50%;
	background-color: #fcb3a2;
	font-family: helvetica neue LT W01_55, sans-serif;
	font-weight: normal;
	font-size: 20px;
	color: #fff;
}

#right_menu {
	background-color: #E55B88;
	border: 1px black solid;
	float: right;
	width: 50%;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}