style.css

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

#index {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

#indexgallery {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

#menu {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

#menugallery {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

#about {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

#press {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

#pressgallery {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}
